<div class="account-management">
	<h1>Account Management</h1>

	<% if (notice && notice.length> 0) { %>
		<div class="flash-message">
			<%= notice %>
		</div>
		<% } %>

			<% if (errors && errors.length> 0) { %>
				<ul class="error-list">
					<% errors.forEach(error=> { %>
						<li>
							<%= error.msg %>
						</li>
						<% }) %>
				</ul>
			<% } %>

					<% if (accountData) { %>
						<% if (accountData.account_type==="Client" ) { %>
							<h2>Welcome Basic, <%= accountData.account_firstname %></h2>
							<p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>
							
							<% } else if ( accountData.account_type==="Employee" || accountData.account_type==="Admin" ) 
							{ %>
								<h2>Welcome Happy, <%= accountData.account_firstname %> </h2>
								<p><a href="/account/update/<%= accountData.account_id %>">Update AccountInformation</a></p>
								<h3>Inventory Management</h3>
								<p><a href="/inv/">Go to Inventory Management</a></p>
							<% } %>
						<% } %>

						<p>You're logged in.</p>
</div>